body{
    font-family: "Comic Sans MS";
    font-size: 16px;
}

.navbar a{
    font-size: 1.2rem;
}

.navbar #navbarSupportedContent form{
    width: 50%;

}


#navbarSupportedContent li{
    flex: 1;
}

#container_form form .row h1{
    font-size: 1.4rem;
}

#container_form form .row{
    margin-bottom: 1rem;
}

#container_form {
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

#container_form h1{
    font-size: 1.4rem;
    
}